    <div class="my_carousel">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../static/img/1.png" class="d-block w-100" alt="1">
        </div>
        <div class="carousel-item">
            <img src="../static/img/2.png" class="d-block w-100" alt="2">
        </div>
        <div class="carousel-item">
            <img src="../static/img/3.png" class="d-block w-100" alt="3">
        </div>
        <div class="carousel-item">
            <img src="../static/img/4.png" class="d-block w-100" alt="3">
        </div>
        <div class="carousel-item">
            <img src="../static/img/5.png" class="d-block w-100" alt="3">
        </div>
        <div class="carousel-item">
            <img src="../static/img/6.png" class="d-block w-100" alt="3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>
</div>
    <div class="video_bloc">
    <h1 class="video_text">Трейлер</h1>
    <div class="video" >
  <object width="700" height="400">
    <param name="movie" value="../static/img/trailer.mp4">
    <param name="wmode" value="window">
    <param name="allowFullScreen" value="true">
    <embed src="../static/img/trailer.mp4" type="application/x-shockwave-flash" wmode="window" allowfullscreen="true" width="700" height="353">
  </object>
</div>
</div>